/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Michroma&family=Montserrat:wght@400;600;700&display=swap');

/* VARIABLES */
:root{
    --principal: #4F46E5;
    --secondary: #1c3738;
    --tertiary: #67aaf9;
    --black: #000f08;
    --bg-color: #F2F7F2;
    --font-primary: 'Michroma', sans-serif;
    --font-secondary: 'Abel', sans-serif;
    --font-tertiary: 'Montserrat', sans-serif;
}

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */
html {
    font-size: 62.5%;
    font-family: var(--font-tertiary);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h3{
    font-size: 4.3em;
    font-family: var(--font-secondary);
    color: #1C3738;
}
main{
    padding: 3.5rem 0;
}
img{
    width: 100%;
}
/* UTILS */
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
}

/* INDEX */
.logo-index{
    display: block;
    width: 27em;
}
.bg-header{
    min-height: 95vh;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
}

.header-comp{
    min-height: 90vh;
    justify-content: space-between;
}

.header-bottom{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.5rem;
}

.header__title{
    color: #ffffff;
    font-family: var(--font-secondary);
    font-size: 8.5em;
}

.header__title span{
    display: block;
}
.menu__links{
    margin-top: 1.8rem;
    text-align: right;
}
.menu__links a{
    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 2em;
}
.menu__links a:hover{
    color: var(--principal);
}

.most-expected{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 1rem;
}
.expected-one{
    grid-column: 1/2;
}

}
.expected-two{
    grid-column: 2/3;

}
.expected-three{
    grid-column: 3/4;

}
.expected-four{
    grid-column: 1/2;
    grid-row: 2;
}
.expected-five{
    grid-column: 2/3;
    grid-row: 2;
}
.expected-six{
    grid-column: 3/4;
    grid-row: 2;
}
.card, 
.card-img{
    border-radius: 1rem;
    border: 0;
}
.card-img-overlay{
    justify-content: space-between;
}
.card-img-overlay > div{
    justify-content: space-between;
}
.card-title{
    background-color: var(--principal);
}
.btn-primary{
    background-color: var(--principal);
    border-color: var(--principal);
    width: 25%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: var(--font-tertiary);
}
.btn-primary:hover{
    background-color: transparent;
}