/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Michroma&family=Montserrat:wght@400;600;700&display=swap');

/* VARIABLES */
:root{
    --principal: #4F46E5;
    --secondary: #1c3738;
    --tertiary: #67aaf9;
    --black: #000f08;
    --bg-color: #F2F7F2;
    --font-primary: 'Michroma', sans-serif;
    --font-secondary: 'Abel', sans-serif;
    --font-tertiary: 'Montserrat', sans-serif;
}

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.toastify{
    font-size: 1.6em;
}

/* GLOBALS */
html {
    font-size: 62.5%;
    font-family: var(--font-tertiary);
    background-color: var(--bg-color);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h3{
    font-size: 4.3em;
    font-family: var(--font-secondary);
    color: #1C3738;
}
img{
    width: 100%;
}
ul{
    padding: 0;
}
p{
    font-family: var(--font-tertiary);
}
/* UTILS */
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
}
.soldout{
    background-color: #E51302!important;
    text-transform: uppercase;
}
.theater{
    background-color: #495057!important;
}
.music{
    background-color: #198754!important;
}
.sport{
    background-color: #fd7e14!important;
}
.atraction{
    background-color: #6f42c1!important;
}
/* INDEX */
.logo-index{
    display: block;
    width: 27em;
}
.bg-header{
    min-height: 95vh;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
}
.header-comp{
    min-height: 90vh;
    justify-content: space-between;
}
.header-top{
    justify-content: space-between;
    align-items: baseline;
}

.header-bottom{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.5rem;
}
.user-identified .btn{
    align-items: baseline;
}
.user-identified .btn i{
    margin-left: 0.5rem;
}
.header__title{
    color: #ffffff;
    font-family: var(--font-secondary);
    font-size: 8.5em;
}

.header__title span{
    display: block;
}
.menu__links{
    margin-top: 1.8rem;
    text-align: right;
}
.menu__links a{
    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 2em;
    transition: all .3s ease-in-out;
}
.menu__links a:hover{
    color: var(--principal);

}
.section-event{
    margin-bottom: 3rem;
}
.subtitle{
    margin: 5rem 2rem 1.5rem 2rem;
}
.most-expected,
.comming{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 1rem;
}
.expected-one{
    grid-column: 1/2;
}

.expected-two{
    grid-column: 2/3;

}
.expected-three{
    grid-column: 3/4;

}
.expected-four{
    grid-column: 1/2;
    grid-row: 2;
}
.expected-five{
    grid-column: 2/3;
    grid-row: 2;
}
.expected-six{
    grid-column: 3/4;
    grid-row: 2;
}
.card, 
.card-img{
    border-radius: 1rem;
    border: 0;
}
.card-img-overlay{
    justify-content: space-between;
    position: absolute
}
.card-img-overlay > div{
    justify-content: space-between;
    align-items: baseline;
}
.card .card-date{
    background-color: var(--tertiary);
    font-family: var(--font-secondary);
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
    width: 8rem;
    height: 3rem;
    text-align: center;
    position: relative;
    left: 1.5rem;
    top: -1rem;
    padding: 0.8rem;
}
.card .fa-circle-info{
    font-size: 2em;
    padding-left: 1em;
    color: var(--secondary);
}
.card .btn-primary{
    background-color: var(--principal);
    border-color: var(--principal);
    width: 25%;
    font-size: 1.7em;
    text-transform: uppercase;
    font-family: var(--font-tertiary);
    z-index: -1;
}
.btn-primary:hover{
    background-color: var(--bg-color);
    color: var(--principal);
    border: 1px solid var(--principal);
    font-weight: 700;
}
.card:hover .btn-primary{
    z-index: 1;
}

/* FOOTER */
footer{
    background-color: var(--secondary);
    color: #ffffff;
}
.footer-columns{
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 0;
}
.footer-column{
    flex-basis: 23%;
    text-align: center;
    padding: 1.3rem;
}
.logo-footer{
    margin: 0 auto;
    width: 10em;
}
.footer-column h6 {
    color: var(--principal);
    font-family: var(--font-secondary);
    font-size: 1.5em;
    font-weight: 600;
}
.footer-column li{
    padding: .5rem 0;
    font-size: 1.2em;
}
.footer-column a {
    color: #ffffff;
    position: relative;
    padding-bottom: 0.3rem;
}
.footer-column a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--principal);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.footer-column a:hover::before {
    transform: scaleX(1);
  }

.items-socials{
    justify-content: space-evenly;
    padding: 20% 0;
    font-size: 1.7em;
}
.items-socials i:hover{
    color: var(--principal);
}
.copyright{
    justify-content: space-between;
}
/* PAGES */
.logo-pages{
    width: 20rem;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-nav{
    align-items: center;
}
.navbar-nav .menu__links{
    justify-content: space-between;
    margin: 0 .7rem
}
.navbar-nav .link{
    font-size: 1.5em;
}
.event-banner img,
.cart-banner img{
    margin-bottom: 3rem;
}
.event-title,
.cart-title{
    justify-content: space-around;
    padding: 1.3rem;
    margin: 2.5rem;
}
.event-options,
.cart-options{
    align-content: center;
}
.event-option,
.cart-option{
    padding: 0 15%;
}
.event-option ul,
.cart-option ul{
    justify-content: space-around;
    border: 1px solid #7c817c;
    border-radius: 20px;
}
.cart-ubication{
    justify-content: center;
    padding: 2rem .5rem;
    gap: 5rem;
}
.map-ubication,
.election-ubication{
    flex-basis: 35%;
    justify-content: space-around;
}
.map-ubication p{
    text-align: center;
}
.cart-options ul{
    justify-content: space-evenly;
}
.cart-total{
    padding-left: 5rem;
}
.cart-total p{
    flex-basis: 50%;
}
.control-cart{
    padding: 2rem;
    justify-content: space-around;
}